@mixin container {
  padding-right: 15px;
  padding-left: 15px;
}

@mixin container-desktop {
  max-width: $container-max-width;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px;
}

@mixin media-breakpoint-up($key) {
  $min: map-get($grid-breakpoints, $key);

  @media (min-width: $min) {
    @content;
  }
}

@mixin focus-visible {
  @if (&) {
    .js-focus-visible &:focus:not(.focus-visible) {
      @content;
    }
  }

  @else {
    .js-focus-visible :focus:not(.focus-visible) {
      outline: none;
    }
  }
}
