.list-of-navigators {
  margin-bottom: 16px;
}

.list-of-navigators__item {

  & + & {
    margin-top: 24px;
  }
}

.list-of-navigators__link {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }

  span {
    margin-top: 4px;
  }
}

.list-of-navigators__inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
