.custom-logo-link {
  display: inline-block;
  font-size: 24px;
  font-family: $font-family-title;
  font-weight: 800;
  line-height: 30px;
  text-decoration: none;
  color: $color-text-primary;

  &:focus,
  &:hover {
    color: $color-text-primary;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: underline;
    outline: none;
  }
}

// .custom-logo {

// }
