.nav-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.page-numbers {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.page-number {
  display: block;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  color: $color-text-primary;
  border-radius: 2px;
  padding: 3px 11px;
  transition: color $transition-time ease,
              background-color $transition-time ease;

  &:hover {
    text-decoration: none;
    color: $color-text-secondary;
    background-color: $color-text-primary;
  }

  &.current {
    color: $color-text-secondary;
    background-color: $color-text-primary;
  }

  &.prev,
  &.next {
    position: relative;

    &:hover .icon {
      fill: $color-text-secondary;
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 16px;
    fill: $color-text-primary;
    transform: translate(-50%, -50%);
  }

  &.prev .icon {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

