.blog-article__header {

  .title-line {

    &:after {
      background-color: rgba($color-line, 30%);
    }

    a {
      color: $color-text-primary;

      &:hover {
        text-decoration: none;
        color: $color-primary;
      }
    }
  }
}

.blog-article__icon {
  width: 24px;
  height: 24px;
  fill: $color-text-additional;
}

@media (min-width: $grid-breakpoints-lg) {
  .blog-article__header .title-line {
    margin-top: 0;
  }
}
