.blog-media {
  width: 100%;
  height: auto;

  &--video {

  }
}

.blog-media__inner {
  display: block;
  cursor: pointer;

  .blog-media--video & {
    position: relative;
    padding-bottom: 56.23%;
  }

  .btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover .btn-play {
    background-color: $color-primary;
    opacity: 1;

    .icon {
      transform: translate(-50%, -50%) scale(1.15);
    }
  }
}

button.blog-media__inner {

}

.page-blog__img {
  width: 100%;
  height: auto;

  .blog-media--video & {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
