
-
  const polishingHero = {
    title: pageTitle,
    subTitle: 'получите блестящий результат!',
    textButton: 'Записаться на полировку',
    isBenefits: true,
    benefits: [
      {icon: 'purse', text: 'Цена от 7 000 ₽'},
    ],
    image: 'hero-polirovka.jpg',
  }

-
  const polishingAbout = {
    primaryTitle: 'Детейлинг полировка – основа безукоризненного вида вашего авто',
    primaryDescription: [
      'Кузов постоянно испытывает на себе воздействия агрессивных факторов, портящие ЛКП.',
      'Полировка кузова машины поможет вернуть ему идеальное состояние, придать зеркальный блеск, на долгое время придаёт дополнительную защиту и обновляет внешний вид.',
      'Наши специалисты профессионально подберут подходящий вид полировки и средства для ее выполнения.',
    ],
    secondaryTitle: 'Для чего нужна полировка',
    secondaryList: [
      'Восстановление эмали, профилактика коррозии.',
      'Кузов приобретает водо- и грязеотталкивающие свойства.',
      'Избавление от видимых дефектов (царапин, потёртостей).',
    ],
  }

-
  const polishingTypes = {
    title: 'Все виды полировки',
    btnText: 'Заказать',
    cards: [
      {
        title: 'Восстановительная (абразивная)',
        description: 'Удаляет с кузова автомобиля самые глубокие царапины, потёртости, возвращая гладкость и блекс.',
      },
      {
        title: 'Мягкая (безабразивная, предпродажная)',
        description: 'Устраняет заматованность, мелкие царапины и потертости, полученные, например, на мойках.',
      },
      {
        title: 'Финишная (антиголограммная)',
        description: 'Применяется обычно перед продажей машины, чтобы слегка обновить ее внешний вид.',
      },
      {
        title: 'Обработка защитным составом',
        description: 'Покрытия керамикой, жидким стеклом защитит ЛКП от химии, предотвратит получение царапин и сколов, придаст гидрофобные свойства.',
      },
    ],
  }

-
  const polishingTablePrices = {
    title: 'Цена полировки автомобиля',
    table: [
      ['Абразивная полировка авто', 'от 10 000 ₽', false],
      ['Абразивная полировка одной детали кузова', 'от 1 500 ₽', false],
      ['Восстановительная полировка', 'от 7 000 ₽', false],
      ['Нанесение керамического покрытия', 'от 15 000 ₽', false],
      ['Нанесение покрытия жидкое стекло', 'от 5 000 ₽', false],
      ['Нанесение покрытия антидождь на стекла', 'от 2 000 ₽', false],
      ['Полировка царапин автомобиля', 'от 1 000 ₽', false],
    ],
    images: [
      'polirovka-u-fary.jpg',
      'polirovka-kryla.jpg',
    ]
  }

//- -
//-   const polishingPrices = {
//-     title: 'Цена покраски автомобиля',
//-     description: [
//-       'Стоимость зависит от величины повреждения детали, расположения и от сложности арматурных работ.',
//-       'Оплата после завершения работ.',
//-     ],
//-     services: [
//-       {
//-         title: 'Покраска бампера',
//-         cost: 'от 10 000 руб.',
//-       },
//-       {
//-         title: 'Покраска двери',
//-         cost: 'от 10 000 руб.',
//-       },
//-       {
//-         title: 'Покраска капота',
//-         cost: 'от 12 000 руб.',
//-       },
//-       {
//-         title: 'Покраска переднего крыла',
//-         cost: 'от 10 000 руб.',
//-       },
//-       {
//-         title: 'Покраска заднего крыла',
//-         cost: 'от 10 000 руб.',
//-       },
//-       {
//-         title: 'Покраска крыши',
//-         cost: 'от 15 000 руб.',
//-       },
//-     ]
//-   }

//- -
//-   const polishingEstimateText = [
//-     `Вы можете заказать предварительную оценку стоимости покраски автомобиля отправив фотографии повреждения в <a href="${siteWhatsapp}" target="_blank">WhatsApp</a>, <a href="${siteTelegram}" target="_blank">Telegram</a> либо заполнив форму.`
//-   ]

//- -
//-   const polishingPrices = {
//-     title: 'Цена покраски автомобиля',
//-     description: [
//-       'Стоимость зависит от величины повреждения детали, расположения и от сложности арматурных работ.',
//-       'Оплата после завершения работ.',
//-     ],
//-     prices: [
//-       {
//-         name: 'Покраска бампера',
//-         price: '10000'
//-       },
//-       {
//-         name: 'Покраска двери',
//-         price: '10000'
//-       },
//-       {
//-         name: 'Покраска капота',
//-         price: '12000'
//-       },
//-       {
//-         name: 'Покраска переднего крыла',
//-         price: '10000'
//-       },
//-       {
//-         name: 'Покраска заднего крыла',
//-         price: '10000'
//-       },
//-       {
//-         name: 'Покраска крыши',
//-         price: '15000'
//-       },
//-     ],
//-   }

-
  const polishingStagesOfWork = {
    title: 'Процедура полировки',
    class: 'polishing',
    cards: [
      {
        title: 'Предварительный этап',
        text: 'Мойка автомобиля с применением автохимии. С помощью полимерной глины удаляем мелкие вкрапления, нагары, смолу, гудрон, остатки почек деревьев.',
        mark: true,
      },
      {
        title: 'Подготовительный этап',
        text: 'Оклеиваются и защищаются специальным скотчем элементы кузова, которые не нуждаются в полировке: пластик, хром.',
        mark: true,
      },
      {
        title: 'Полировка кузова',
        text: 'Нанесение полироли с использованием лучших материалов. Равномерное распределение по поверхности автомобиля. Полировка происходит в несколько этапов, чтобы удалить все повреждения и добиться идеального блеска и гладкости.',
        mark: true,
      },
      {
        title: 'Очистка от остатков',
        text: 'Тщательно очищается кузов от остатков полировальных материалов. Производится нанесение защитного слоя, жидким стеклом, керамикой или другими составами, заранее согласованное с заказчиком.',
        mark: true,
      },
      {
        title: 'Выдача автомобиля',
        text: 'Мы показываем Вам результат и консультируем по вопросам дальнейшего ухода за автомобилем.',
        mark: true,
      },
      {
        title: '',
        text: 'Мы рекомендуем делать все эти этапы. Так как кузов после полировки необходимо защитить специальными составами для более длительного сохранения ЛКП от потёртостей и царапин.',
        mark: false,
      },
    ]
  }

+hero(polishingHero)
//- +advantages(pdrAdvantages)
+serviceAboutFramed(polishingAbout)
+serviceTypesList(polishingTypes, 'service-types--polishing')
+sectionPrices(polishingTablePrices, 'section-prices--polishing', 'table--long-names')
+stagesOfWork(polishingStagesOfWork)
+freeConsultation('Консультация и запись на полировку', 'Оставьте Ваш номер телефона и наш мастер перезвонит Вам, ответит на вопросы по стоимости и срокам, запишет на удобное время.')
<<<<<<< HEAD
+services()
  +servicesList(services, url)
+whereAreWe
=======
//- +section-price-cards(polishingTablePrices)
//- +serviceAboutFramed(pdrAbout)
//- +workExamples(pdrWordExample)
//- +sectionVideo(articles)
//- +estimate(title, polishingEstimateText)
+services()
  +servicesList(services, url)
//- +whereAreWe
>>>>>>> b17f7fa08a1c3f0be234e4dfa44e1ea2d8a8454a
