.page-blog {

}

.page-blog__main {

}

.page-blog__wrapper {
  margin-bottom: 45px;
}

.page-blog__article {

  & + & {
    border-top: 1px solid $color-border;
    margin-top: 45px;
    padding-top: 45px;
  }
}

@media (min-width: $grid-breakpoints-lg) {
  .page-blog__wrapper {
    margin-bottom: 60px;
  }
}
