.about-us {
  position: relative;
}

.about-us__wrapper {
  position: relative;
}

.about-us__col--text {
  color: $color-text-secondary;
  background-color: $color-bg-secondary;
  padding: 90px 15px 130px;
}

.about-us__title {
  margin-top: 0;
}

.about-us__description {
  margin-bottom: 15px;
}

.about-us__col--media {
  padding: 0 15px;

  picture {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: calc(71.7% - 84px);
  }
}

.about-us__image {
  position: absolute;
  top: -84px;
  left: 0;
  width: 100%;
  height: auto;
}

.about-us__dots {
  display: none;
}

@media (min-width: $grid-breakpoints-md) {
  .about-us {
    overflow: hidden;
  }

  .about-us__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .about-us__col--text {
    position: relative;
    flex-basis: 65.22%;
    padding-top: 120px;
    padding-right: 40px;
    padding-bottom: 120px;
    padding-left: 25px;
  }

  .about-us__col--media {
    flex-basis: 34.78%;
    position: relative;
    padding: 0;
    z-index: -1;

    picture {
      width: 100%;
      height: 100%;
      padding-bottom: 0;
    }
  }

  .about-us__image {
    top: 0;
    left: 50%;
    width: auto;
    max-width: none;
    height: 100%;
    transform: translateX(-50%);
  }
}

@media (min-width: $grid-breakpoints-lg) {
  .about-us {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25%;
      height: 100%;
      background-color: $color-bg-secondary;
      z-index: -1;
    }
  }

  .about-us__container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-us__col--text {
    position: relative;
    left: -120px;
    flex: 0 0 calc(68.47% + 120px);
    padding-right: 247px;
    padding-left: 125px;
  }

  .about-us__col--media {
    z-index: 0;
  }

  .about-us__image {
    top: 50%;
    left: auto;
    right: 0;
    width: 540px;
    height: auto;
    transform: translateY(-50%);
  }

  .about-us__dots {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 420px;
    height: 186px;
    z-index: -1;

    .icon-dots {
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: $grid-breakpoints-4k) {
  .about-us:after {
    content: none;
  }

  .about-us__col--text {
    position: relative;
    left: -120px;
    flex: 0 0 calc(68.47% + 120px);
    padding-right: 247px;
    padding-left: 120px;
  }
}
