.page-polishing {

  .section-prices__wrap-text {
    max-width: 650px;
    margin: 0 auto;
  }

  .section-prices__table {
    max-width: none;
  }

  .free-consultation {
    margin-bottom: 0;
  }
}
