.single-post {

}

.single-post__main {

}

.single-post__wrapper {

}

.single-post__col {

  &--article {

  }

  &--sidebar {
    border-top: 1px solid rgba($color-line, 30%);
    margin-top: 45px;
    padding-top: 45px;
  }
}

@media (min-width: $grid-breakpoints-lg) {
  .single-post__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .single-post__col {

    &--article {
      flex: 0 1 auto;
    }

    &--sidebar {
      flex: 1 0 300px;
      border-top-width: 0;
      border-left: 1px solid rgba($color-line, 30%);
      margin-top: 0;
      margin-left: 30px;
      padding-top: 0;
      padding-left: 30px;
    }
  }
}

@media (min-width: $grid-breakpoints-xl) {
  .single-post__col {

    &--sidebar {
      flex: 1 0 380px;
    }
  }
}
