mixin freeConsultation(title= 'Получить бесплатную консультацию', desc= 'Оставьте свой номер телефона и мастер свяжется с Вами в ближайшее время.')
  section.free-consultation
    .free-consultation__container
      .free-consultation__wrapper
        .free-consultation__col.free-consultation__col--text
          h2.free-consultation__title.title-line.title-line--grey #{title}
          p #{desc}
          +formPhoneInline('free-consultation__form')
        .free-consultation__col.free-consultation__col--media
          +imgAdaptive('iphone-call-automaster77.png', 'Звонок на iPhone', 'images/common/placeholder.png', '576')(class="free-consultation__img", width="148", height="310")
        .free-consultation__dots
          .icon-dots
