extends layout/default.pug

block prepend variables
  - let bodyClass = 'blog'
  - let url = 'blog.html'
  - let pageTitle = 'Блог'

block content
  include pages/blog/main.pug

block prepend scripts
