extends layout/default.pug

block prepend variables
  - let bodyClass = 'page-home'
  - let url = 'index.html'
  //- - const pageTitle = 'Автомастер77'

block content
  include pages/index/main.pug

block prepend scripts
  script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
  +modalVideo()
  +modalNavigator()
  +makeAnAppointment()
  +modalCallback()
