extends layout/default.pug

block prepend variables
  - let bodyClass = 'page-painting'
  - let url = 'painting.html'
  - let pageTitle = 'Локальная покраска'

block content
  include pages/services/painting/index.pug

block prepend scripts
  script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
  +modalNavigator()
  +makeAnAppointment()
  +modalCallback()
