extends layout/default.pug

block prepend variables
  - let bodyClass = 'page-pdr'
  - let url = 'pdr.html'
  - let pageTitle = 'Удаление вмятин без покраски'

block content
  include pages/services/pdr/index.pug

block prepend scripts
  script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
