extends layout/default.pug

block prepend variables
  - let bodyClass = 'page-polishing'
  - let url = 'polishing.html'
  - let pageTitle = 'Полировка кузова'

block content
  include pages/services/polishing/index.pug

block prepend scripts
  +modalVideo()
  +modalNavigator()
  +makeAnAppointment()
  +modalCallback()
