extends layout/default.pug

block prepend variables
  - let bodyClass = 'archive-services'
  - let url = 'services.html'
  - let pageTitle = 'Услуги'

block content
  include pages/services/index.pug
