extends layout/default.pug

block prepend variables
  - const bodyClass = 'archive-services'
  - const url = 'services.html'
  - const pageTitle = 'Услуги'

block content
  include pages/services/index.pug
