mixin makeAnAppointment()
  +modal('make-an-appointment', 'make-an-appointment', 'Записаться на ремонт')
    p Заполните форму и наш менеджер свяжется с Вами в ближайшее время, ответит на вопросы по стоимости и срокам
    +formEstimate(false, 'Описание проблемного места автомобиля', 'Записаться')
