-
  const paintingHero = {
    title: pageTitle,
    subTitle: 'деталей кузова автомобиля',
    textButton: 'Записаться на покраску',
    isBenefits: true,
    benefits: [
      {icon: 'purse', text: 'Цена от 5 000 ₽'},
    ],
    image: 'hero-pokraska.jpg',
  }

-
  const paintingAbout = {
    title: 'Об услуге',
    description: [
      'Выполняем профессиональную покраску элементов кузова автомобилей.',
      'Обеспечиваем качественное обслуживание при помощи специализированного оборудования и материалов от лучших мировых производителей. Подберём максимально подходящий цвет даже для самых сложных и редких оттенков методом компьютерного подбора.',
      'Если вам нужна профессиональная покраска вашей машины, записывайтесь к нам на ремонт и результат вас обрадует!',
    ],
  }

-
  const paintingTypes = {
    title: 'Типы покраски',
    cards: [
      {
        title: 'Локальная покраска',
        description: 'Позволяет покрасить небольшие повреждения детали кузова и при этом максимально сохранить родное ЛКП.',
        img: 'porsche-lokalnaya-pokraska.png',
      },
      {
        title: 'Покраска деталей',
        description: 'Выполняется покраска отдельных поврежденных деталей кузова: бамперов, дверей, крыльев, порогов, капотов и др.',
        img: 'porsche-pokraska-detaley.png',
      },
    ],
  }

//- -
//-   const paintingPrices = {
//-     title: 'Цена покраски автомобиля',
//-     description: [
//-       'Стоимость зависит от величины повреждения детали, расположения и от сложности арматурных работ.',
//-       'Оплата после завершения работ.',
//-     ],
//-     services: [
//-       {
//-         title: 'Покраска бампера',
//-         cost: 'от 10 000 руб.',
//-       },
//-       {
//-         title: 'Покраска двери',
//-         cost: 'от 10 000 руб.',
//-       },
//-       {
//-         title: 'Покраска капота',
//-         cost: 'от 12 000 руб.',
//-       },
//-       {
//-         title: 'Покраска переднего крыла',
//-         cost: 'от 10 000 руб.',
//-       },
//-       {
//-         title: 'Покраска заднего крыла',
//-         cost: 'от 10 000 руб.',
//-       },
//-       {
//-         title: 'Покраска крыши',
//-         cost: 'от 15 000 руб.',
//-       },
//-     ]
//-   }

-
  const paintingEstimateText = [
    `Вы можете заказать предварительную оценку стоимости покраски автомобиля отправив фотографии повреждения в <a href="${siteWhatsapp}" target="_blank">WhatsApp</a>, <a href="${siteTelegram}" target="_blank">Telegram</a> либо заполнив форму.`
  ]

-
  const paintingPrices = {
    title: 'Цена покраски автомобиля',
    description: [
      'Стоимость зависит от величины повреждения детали, расположения и от сложности арматурных работ.',
      'Оплата после завершения работ.',
    ],
    prices: [
      {
        name: 'Покраска бампера',
        price: '10000'
      },
      {
        name: 'Покраска двери',
        price: '10000'
      },
      {
        name: 'Покраска капота',
        price: '12000'
      },
      {
        name: 'Покраска переднего крыла',
        price: '10000'
      },
      {
        name: 'Покраска заднего крыла',
        price: '10000'
      },
      {
        name: 'Покраска крыши',
        price: '15000'
      },
    ],
  }

+hero(paintingHero)
include ./about.pug
+service-types(paintingTypes)
+section-price-cards(paintingPrices)
+estimate(title, paintingEstimateText, 'Описание повреждения')
+services()
  +servicesList(services, url)
+whereAreWe
