mixin sectionPrices(data, className, tableClassName)
  section.section-prices(class= (className) ? className : '')
    .section-prices__container
      .section-prices__wrapper
        .section-prices__frame
        .section-prices__content
          .section-prices__col.section-prices__col--text
            .section-prices__wrap-text
              h2.section-prices__title.title-line #{data.title}
              if (data.description)
                .section-prices__description
                  each text in data.description
                    p #{text}
              +table(data.table, ['Размер', 'Цена'], 'section-prices__table', tableClassName)
          .section-prices__col.section-prices__col--media
            .section-prices__wrap-media
              each img in data.images
                +img(img)(class="section-prices__media")
                //- +img('pdr-bmw-x6-bagazhnik-rebro-do.jpg')(class="section-prices__media")
                //- +img('pdr-bmw-x6-bagazhnik-rebro-posle.jpg')(class="section-prices__media")
            .section-prices__dots
              .icon-dots
