-
  const glassRepairHero = {
    title: pageTitle,
    subTitle: 'ремонт лобовых стекол автомобиля',
    textButton: 'Записаться на ремонт',
    isBenefits: true,
    benefits: [
      {icon: 'purse', text: 'от 5 000 ₽'},
      {icon: 'clock-fast', text: 'от 30 минут'},
    ],
    image: 'hero-remont-skolov.jpg',
  }

-
  const glassRepairAbout = {
    title: 'Об услуге',
    description: [
      'Сколы и трещины на стекле образуются от механических повреждений. Чаще всего в результате попадания камня или другого предмета.',
      'Отремонтировать скол или небольшую трещину намного дешевле замены лобового стекла – от 1 500 руб. Время ремонта занимает от 30 минут до 2 часов, в зависимости от повреждения.',
      'После ремонта скол становится менее заметным. Трещина будет гораздо заметнее, чем скол, но только под определённым углом.',
    ],
    slider: [
      {
        title: 'Ремонт сколов',
        text: 'Сколы чаще всего не ухудшают видимость, но ослабляют стекло и могут спровоцировать трещины в нескольких направлениях вокруг повреждения.',
        img: 'skol-na-stekle.png',
      },
      {
        title: 'Ремонт трещин',
        text: 'Трещина ухудшает видимость, делает обзор ограниченным. Под воздействием вибраций и перепадов температур может увеличиться, что приведёт к необходимости замены стекла.',
        img: 'treshchina-na-stekle.png',
      },
    ],
  }

-
  const glassRepairNeed = {
    title: 'Для чего нужно удалять сколы и трещины на стекле?',
    description: [
      'Даже небольшой скол – это повод обратиться в сервис по ремонту стекал. Есть большая вероятность, что скол из небольшого размера постепенно перерастёт в трещину неподдающуюся ремонту.',
      'Самое важное в ремонте – зафиксировать повреждение и не дать ему увеличиться в размерах. Чем скорее обратитесь за ремонтом, тем лучше его качество. ',
    ],
    images: [
      {
        src: 'photo-skol-na-stekle-do.png',
        alt: 'Скол на лобовом стекле до ремонта',
        width: '400',
        height: '300',
      },
      {
        src: 'photo-skol-na-stekle-posle.png',
        alt: 'Скол на лобовом стекле до ремонта',
        width: '385',
        height: '300',
      },
    ]
  }

-
  const glassRepairProcedure = {
    title: 'Процедура ремонта сколов',
    list: [
      'Осмотр повреждения, оценка стоимости',
      'Засверливание скола / трещины',
      'Заполнение повреждения полимером под давлением',
      'Запечатывание и сушка под ультрафиолетовой лампой',
      'Зачищаются избытки полимера',
      'Полировка места ремонта специальной пастой',
    ],
    img: {
      src: 'remont-skolov.jpg',
      alt: 'Аккуратный ремонт скола на стекле',
      width: '480',
      height: '361',
    }
  }

-
  const glassRepairEstimateText = [
    `Вы можете заказать предварительную оценку стоимости услуги отправив фотографии повреждения в <a href="${siteWhatsapp}" target="_blank">WhatsApp</a>, <a href="${siteTelegram}" target="_blank">Telegram</a> либо заполнив форму.`,
    'Желательно делать несколько фотографий под разными углами и на разном расстоянии.'
  ]


+hero(glassRepairHero)
include ./about.pug
+sectionFrameSecondary(glassRepairNeed)
+procedure(glassRepairProcedure)
+estimate(title, glassRepairEstimateText, 'Описание повреждения')
+services()
  +servicesList(services, url)
+whereAreWe
