-
  const glassRepairHero = {
    title: pageTitle,
    subTitle: 'ремонт лобовых стекол автомобиля',
    textButton: 'Записаться на ремонт',
    isBenefits: true,
    benefits: [
      {icon: 'purse', text: 'от 5 000 ₽'},
      {icon: 'clock-fast', text: 'от 30 минут'},
    ],
    image: 'hero-remont-skolov.jpg',
  }

-
  const glassRepairAbout = {
    title: 'Об услуге',
    description: [
      'Сколы и трещины на стекле образуются от механических повреждений. Чаще всего в результате попадания камня или другого предмета.',
      'Отремонтировать скол или небольшую трещину намного дешевле замены лобового стекла – от 1 500 руб. Время ремонта занимает от 30 минут до 2 часов, в зависимости от повреждения.',
      'После ремонта скол становится менее заметным. Трещина будет гораздо заметнее, чем скол, но только под определённым углом.',
    ],
    slider: [
      {
        title: 'Ремонт сколов',
        text: 'Сколы чаще всего не ухудшают видимость, но ослабляют стекло и могут спровоцировать трещины в нескольких направлениях вокруг повреждения.',
        img: 'skol-na-stekle.png',
      },
      {
        title: 'Ремонт трещин',
        text: 'Трещина ухудшает видимость, делает обзор ограниченным. Под воздействием вибраций и перепадов температур может увеличиться, что приведёт к необходимости замены стекла.',
        img: 'treshchina-na-stekle.png',
      },
    ],
  }




+hero(glassRepairHero)

include ./about.pug
