.section-prices {
  margin-bottom: 90px;
  padding-top: 90px;
}

.section-prices__container {
  // @include container;
}

.section-prices__wrapper {
  position: relative;
  padding-top: 34px;
  padding-bottom: 60px;
}

.section-prices__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 15px solid $color-border;
  border-right-width: 0;
  border-left-width: 0;
  z-index: -1;
}

.section-prices__content {

}

.section-prices__col {

}

.section-prices__col--text {
  @include container;
}

.section-prices__wrap-text {

}

.section-prices__title {

}

.section-prices__description {
  margin-bottom: 28px;
}

.section-prices__table {
  max-width: 540px;
}

.section-prices__col--media {
  display: none;
}

.section-prices__wrap-media {

}

.section-prices__media {

}

.section-prices__dots {
  display: none;
}

@media (min-width: $grid-breakpoints-sm) {

}

@media (min-width: $grid-breakpoints-md) {
  .section-prices__container {
    @include container-desktop;
  }

  .section-prices__frame {
    border-right-width: 15px;
    border-left-width: 15px;
  }

  .section-prices__title {
    max-width: 466px;
  }

  .section-prices__col--text {
    max-width: 1360px;
    padding-right: 65px;
    padding-left: 65px;
    margin: 0 auto;
  }
}

@media (min-width: $grid-breakpoints-lg) {

}

@media (min-width: $grid-breakpoints-xl) {
  .section-prices {
    position: relative;
    margin-bottom: 120px;
    padding-top: 120px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: calc(50% - 400px);
      height: 15px;
      background-color: $color-border;
    }

    &:before {
      top: 120px;
    }

    &:after {
      bottom: 0;
    }
  }

  .section-prices__frame {
    width: calc(50% - 5px);
    border-left-width: 0;
    border-right-width: 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $color-border;
      right: -15px;
      width: 15px;
      height: 55px;
      // z-index: 1;
    }

    &:before {
      // height: calc(100% - 110px);
      top: -15px;
    }

    &:after {
      bottom: -15px;
    }
  }

  .section-prices__content {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .section-prices__col--text {
    flex-basis: calc(50% - 50px);
    max-width: 540px;
    margin: 0;
    padding: 0;
  }

  .section-prices__col--media {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 52%;
    height: 100%;
  }

  .section-prices__wrap-media {

    picture {

      &:first-child {
        position: absolute;
        top: 50%;
        left: 0;
        width: 47.65%;
        height: auto;
        transform: translateY(-50%);
      }

      &:last-child {
        position: absolute;
        top: 0;
        right: 0;
        width: 62.58%;
        height: auto;

        &:before,
        &:after {
          content: "";
          position: absolute;
          left: -15px;
          background-color: $color-bg-primary;
        }

        &:before {
          top: 0;
          width: 15px;
          height: 100%;
        }

        &:after {
          bottom: -15px;
          width: 20.5%;
          height: 15px;
        }
      }
    }
  }

  .section-prices__media {
    width: 100%;

    &:first-child {
      display: block;
      width: 335px;
      height: auto;
    }

    &:last-child {
      position: relative;
      display: block;

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: -15px;
        background-color: $color-border;
      }

      &:before {
        top: 0;
        width: 15px;
        height: 100%;
      }

      &:after {
        bottom: -15px;
        width: 76px;
        height: 15px;
      }
    }
  }

  .section-prices__dots {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 88%;
    height: 300px;
    z-index: -1;

    .icon-dots {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 300px;
      transform: rotate(180deg);
    }
  }
}

@media (min-width: $grid-breakpoints-full) {
  .section-prices__col--media {
    width: 53.66%;
  }

  .section-prices__dots,
  .section-prices__dots .icon-dots {
    height: 205px;
  }
}
